<div class="contact-container">
    <div class="card">
        <div class="card-body">
          <h3 class="card-title">Contacto</h3>
          <ul class="list">
            <li><b>Celular:</b> 3108267269</li>
            <li><b>Correo electrónico:</b> angiemarin0707@gmail.com</li>
            <li>
              <b>LinkedIn: </b
              ><a href="www.linkedin.com/in/angelica-cuervo" target="_blank"
                ><b>www.linkedin.com/in/angelica-cuervo</b></a
              >
            </li>
            <li>
              <b>Github </b
              ><a href="https://github.com/angelicacvo" target="_blank"
                ><b>https://github.com/angelicacvo</b></a
              >
            </li>
          </ul>
        </div>
      </div>
      
</div>

<div class="contact-form">
  <form class="row g-3">
      <div class="col-md-6">
        <label for="inputName4" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputName4" />
      </div>
      <div class="col-md-6">
        <label for="inputLastName4" class="form-label">Correo electrónico</label>
        <input type="text" class="form-control" id="inputLastName4" />
      </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" id="inputEmail4" />
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Número de celular</label>
      <input type="text" class="form-control" id="inputPhoneNumber" />
    </div>
    <div class="col-md-6">
        <label for="date" class="form-label"> ¿Que día nos podemos contactar con usted? </label>
        <input id="date" name="date" type="datetime-local" />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>
