<div class="head-container">
    <div class="cover">
        <img class="profile" src="../../assets/img/fotoAngelica.jpeg">
        <h3> Angelica Cuervo </h3>
        <button type="button" class="btn btn-secondary">Editar portada</button>
    </div>
</div>

<div class="body-container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title">Mis proyectos</h4>
           <p class="card-text">Aquí encontrarás los proyectos en desarrollo y los mockups.</p>
          <button type="button" class="btn btn-secondary">Entrar</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title">Mis repositorios</h4>
           <p class="card-text">Aquí encontrarás tus repositorios en github y acceder a ellos.</p>
          <button type="button" class="btn btn-secondary">Entrar</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title">Mis citas</h4>
           <p class="card-text">Aquí encontrarás las citas que ha agendado.</p>
          <button type="button" class="btn btn-secondary">Entrar</button>
        </div>
      </div>
</div>
