<h2>PORTAFOLIO DE REPOSITORIOS</h2>
<div class="container">
  <div class="repository-1">
    <button
      type="button"
      class="btn texto-cajas"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal-1"
    >
      Repositorio C#
    </button>
    <div
      class="modal fade"
      id="exampleModal-1"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Repositorio
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Link hacia repositorio en github:
            <button type="button" class="btn btn-link">
              https://github.com/angelicacvo/EmpresaTecprodes.git
            </button>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="repository-2">
    <button
    type="button"
    class="btn texto-cajas"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal-2"
  >
    Repositorio Javascript
  </button>

  <div
    class="modal fade"
    id="exampleModal-2"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Repositorio
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Link hacia los repositorios en github:
          <button type="button" class="btn btn-link">
            https://github.com/angelicacvo/ExpressAutomoviles.git
          </button>
          <button type="button" class="btn btn-link">
            https://github.com/angelicacvo/ExpressUsuarios.git
          </button>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="repository-3">
    <button
      type="button"
      class="btn texto-cajas"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal-3"
    >
    Repositorios Typescript/Angular
    </button>
    <div
      class="modal fade"
      id="exampleModal-3"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
                Repositorios
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Link hacia repositorio en github:
            <button type="button" class="btn btn-link">
                https://github.com/angelicacvo/Proyecto4.git
            </button>
            <button type="button" class="btn btn-link">
                https://github.com/angelicacvo/my-imdb.git
            </button>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="repository-4">
    <button
      type="button"
      class="btn texto-cajas"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal-4"
    >
    Repositorio HTML y CSS
    </button>
    <div
      class="modal fade"
      id="exampleModal-4"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
                Repositorio
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Link hacia repositorio en github:
            <button type="button" class="btn btn-link">
              FALTA EL LINK 
            </button>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
