@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --button-color:  #136f63;
    --button-color-hover: #74c69d;
    --body-background: #ECEBE4;
    --letters: #1C1C1C ;
    --layout-background: #b7e4c7 ;
    --main-font-family: 'Roboto', sans-serif;
    --main-font-size: 16px;
}
