<div class="container-home">
  <div class="presentation">
    <h2>¿QUIEN SOY?</h2>
    <p>
      Profesional en investigación criminal y programadora en formación, con
      conocimientos empíricos y certificados en diferentes lenguajes de
      programación y en tecnologías TIC adquiridos en cursos y diplomados, en
      los cuales se desarrollan las habiliades para la resolución de problemas y
      lógica de programación.
    </p>
  </div>
</div>
<div class="trust-container">
    <div class="trust-description">
        <h2>¿Por qué confiar en mí?</h2>
        <p>
          Soy una persona altamente capacitada en la programación web con énfasis en
          frontend, también poseo conocimientos en el area de backend, por lo cual
          sé realizar un sitio estructurado, con garantía de altas estadísticas de
          visita y una estética impecable. Adicionalmente, el inglés y el español son idiomas
          que domino muy bien, con el transcurso del tiempo aprendo con rapidez, en el momento
          tengo conocimientos en html, css, javascript, c# y python.
        </p>
      </div>
  <img
    src="../../assets/img/fotoAngelica.jpeg"
    alt="coding"
  />
</div>
